node_modules/
dist/
dist-ssr/
coverage/
.vite/
*.local
.env
.env.*
!.env.example

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/

# Editores
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
